@page
@model WebApi.Pages.DistribuidoresModel
@{
  ViewData["Title"] = "Distribuidores";
}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"]</title>

  <link rel="stylesheet" href="css/tailwind.css">
  <script src="js/icons.js"></script>
  <script src="js/vanilla-reactive.iife.js"></script>
  <script src="js/app-components-bundle.js"></script>
  <script src="~/Pages/Distribuidores.cshtml.js"></script>


  <style>
  </style>

  <script>

  </script>

</head>
<body class="min-h-screen bg-gray-100 transition-colors dark:bg-gray-900">
  <div class="mx-auto max-w-4xl space-y-8 px-4">

    <header class="">
      <div data-component="header-component" class=""></div>
      <h1 class="text-3xl font-bold text-gray-800 dark:text-gray-100">
        <i data-icon="timer" class="inline-flex size-10"></i>
        Counter Component
      </h1>
      <p class="mt-2 rounded border border-gray-200 p-4 text-gray-500 dark:border-gray-700 dark:text-gray-400">
        Página de ejemplo que muestra un contador simple implementado como componente usando una factory function.
        El componente tiene un estado interno (count) y dos métodos para modificarlo (increment y decrement).
        El valor del contador se muestra en pantalla y se actualiza automáticamente al hacer clic en los botones.
      </p>
      <div data-component="counter-component" class="my-2"></div>
    </header>


    <h1>Lista de Distribuidores</h1>
    <p>Total: <strong>@Model.Distribuidores.Count</strong></p>

    <table>
      <thead class="">
        <tr>
          <th>Id</th>
          <th>NIF</th>
          <th>Nombre</th>
          <th>Email</th>
          <th>Dirección</th>
          <th>Ciudad</th>
          <th>Teléfono</th>
          <th>Activo</th>
        </tr>
      </thead>
      <tbody>
        @foreach (dynamic item in Model.Distribuidores)
        {
          <tr on-click="showDialog" id="@item.id">
            <td>@item.id</td>
            <td>@item.nif</td>
            <td>@item.nombre</td>
            <td>@item.email</td>
            <td>@item.direccion</td>
            <td>@item.ciudad</td>
            <td>@item.telefono</td>
            <td>
              @if ((int)item.activo == 1)
              {
                <i data-icon="check" class="size-6"></i>
              }
              else
              {
                <i data-icon="minus" class="size-6"></i>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>

    <div data-component="footer-component" class=""></div>

  </div>
</body>
</html>